* {
    text-align: center;
    color: rgb(119, 5, 5);
  }

.center {
    text-align: center;
  }

#para1 {
    text-align: center;
    color: #ddd;
    border-style: inset;
    border-color: aquamarine;
    border-width: 5px;
    border-radius: 10px;
  }

li {
    text-align: left;
    color: #b65a13;
  }

a[target] {
    background-color: #9fe2c1;
  }

a:hover {
    color: hotpink;
  }

/* start of combinators */
h1, p {
    background-color: rgba(192, 166, 184, 0.5);
  }

ul li {
    list-style-type: circle;
  }

ol > li {
    background-color: rgb(147, 197, 248);
  }

h4 ~ h5 {
    color: red;
  }

li + li {
    color: hsla(9, 82%, 47%, 0.7);
  }

span.span {
    color: hsl(224, 66%, 31%);
}
/* end of combinators */