* {
    text-align: center;
    color: rgb(119, 5, 5);
    margin: auto;
  }

.center {
    text-align: center;
    font-size: 2vw;
    text-decoration: underline;
  }

#para1 {
    text-align: center;
    color: #ddd;
    border-style: inset;
    border-color: aquamarine;
    border-width: 5px;
    border-radius: 10px;
  }

li {
    text-align: left;
    color: #b65a13;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

a[target] {
    background-color: #9fe2c1;
    font-family: 'Oswald', sans-serif;
  }

a:hover {
    color: hotpink;
    font-size: 150%;
  }

a:active {
    color: #00FF00;
  }

iframe {
    max-width: 25%;
    min-width: 25%;
  }

svg {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

canvas {
    position: relative;
    left: -275px;
    top: 0px;
    z-index: -1;
  }

/* start of combinators */
h1, p {
    background-color: rgba(192, 166, 184, 0.5);
    margin: 10px 10px 10px 10px;
  }

ul li {
    list-style-type: circle;
    font-size: 0.5cm;
  }

div > ul > li {
    display: inline;
  }

ol > li {
    background-color: rgb(147, 197, 248);
    font-size: 10pt;
    width: 200px;
  }

h4 ~ h5 {
    color: red;
    font-size: 10px;
  }

li + li {
    color: hsla(9, 82%, 47%, 0.7);
    font-size: 15px;
  }

span.span {
    color: hsl(224, 66%, 31%);
    font-size: 1.4em;
    padding: 10px 10px 10px 10px;
    display: block;
  }
/* end of combinators */

img {
    height: 50%;
    width: 400px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
 }